RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L,QSA]
#RewriteRule ^$ /OtherSites/witcherinie.php [L]
#RewriteRule ^witcherinie$ /OtherSites/witcherinie.php [L]
#RewriteRule ^ONas$ /OtherSites/ONas.php [L]
#RewriteRule ^register$ /OtherSites/RegisterForm.php [L]
#RewriteRule ^database/logout$ /OtherSites/Databases/logout.php [L]
#RewriteRule ^login$ /OtherSites/LoginForm.php [L]
#RewriteRule ^database/login$ /OtherSites/Databases/login.php [L]
#RewriteRule ^Helma$ /OtherSites/JednotliveKarty/Brneni/Helma.php [L]
#RewriteRule ^Torzo$ /OtherSites/JednotliveKarty/Brneni/Torzo.php [L]
#RewriteRule ^Boty$ /OtherSites/JednotliveKarty/Brneni/Boty.php [L]
#RewriteRule ^Luk$ /OtherSites/JednotliveKarty/Zbrane/Luk.php [L]
#RewriteRule ^Mec$ /OtherSites/JednotliveKarty/Zbrane/Mec.php [L]
#RewriteRule ^Staff$ /OtherSites/JednotliveKarty/Zbrane/Staff.php [L]
#RewriteRule ^Rasy$ /OtherSites/JednotliveKarty/Rasy.php [L]